<a href="https://colab.research.google.com/github/Rogerio-mack/CDA_2021_2S/blob/main/CDA_Recomendation_System_in_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Sistema de Recomendação em R, Recomendando Contatos de uma Rede Social: Filtro de Conteúdo por Item!
***

Esta base de dados contém atributos de 30000 usuários de uma rede social com suas preferências. Seus nomes foram devidamente ofuscados. Mas vamos trabalhar apenas com 1000 casos.

**Objetivo:** Dado um usuário, queremos recomendar novos contatos de amigos que mais se assemelhem ao usuário. Vamos dar um passo a passo aqui para você.

In [ ]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/social.csv',nrows=1000)
head(df)

  name                          gradyear gender age    friends basketball
1 Q0bcT0yVsaupy2DJ3P8m2owDPIwNL 2006     M      18.982   7     0
2 eeQvCDZZbJPoXTL13FaVgx        2006     F      18.801   0     0
3 oK3Mpwj7SfPnGLHG1V5yQBEOgn    2006     M      18.335  69     0
4 Z76KbVabKtfN2tLGthyk          2006     F      18.875   0     0
5 4Pmrj8MGAOODv4Wmot6htP1       2006            18.995  10     0
6 rR2PUmc8uLtBprg               2006     F          NA 142     0
  football soccer softball volleyball ⋯ blonde mall shopping clothes hollister
1 0        0      0        0          ⋯ 0      0    0        0       0
2 1        0      0        0          ⋯ 0      1    0        0       0
3 1        0      0        0          ⋯ 0      0    0        0       0
4 0        0      0        0          ⋯ 0      0    0        0       0
5 0        0      0        0          ⋯ 0      0    2        0       0
6 0        0      0        0          ⋯ 0      0    1        0       0
  abercrombie die death drunk drugs
1 0           0   0     0     0
2 0           0   0     0     0
3 0           0   1     0     0
4 0           0   0     0     0
5 0           0   0     1     1
6 0           0   0     1     0

## Preparação dos dados

### Tratamento de Nulos

1. `age`, tem valores nulos. Input o valor médio de `age` nos valores nulos de idade.
2. `gender`, possui valores '' (não nulos, mas ''). Altere esses valores para  "not_informed".

In [ ]:
colSums(is.na(df))

        name     gradyear       gender          age      friends   basketball
           0            0            0          131            0            0
    football       soccer     softball   volleyball     swimming cheerleading
           0            0            0            0            0            0
    baseball       tennis       sports         cute          sex         sexy
           0            0            0            0            0            0
         hot       kissed        dance         band     marching        music
           0            0            0            0            0            0
        rock          god       church        jesus        bible         hair
           0            0            0            0            0            0
       dress       blonde         mall     shopping      clothes    hollister
           0            0            0            0            0            0
 abercrombie          die        death        drunk        drugs
           0            0            0            0            0

In [ ]:
df[is.na(df$age),]$age = mean(df$age, na.rm = TRUE)
colSums(is.na(df))

        name     gradyear       gender          age      friends   basketball
           0            0            0            0            0            0
    football       soccer     softball   volleyball     swimming cheerleading
           0            0            0            0            0            0
    baseball       tennis       sports         cute          sex         sexy
           0            0            0            0            0            0
         hot       kissed        dance         band     marching        music
           0            0            0            0            0            0
        rock          god       church        jesus        bible         hair
           0            0            0            0            0            0
       dress       blonde         mall     shopping      clothes    hollister
           0            0            0            0            0            0
 abercrombie          die        death        drunk        drugs
           0            0            0            0            0

In [ ]:
mean(df$age)

[1] 17.41003

In [ ]:
table(df$gender)

      F   M
 85 707 208

In [ ]:
nrow( df[ df$gender == '' , ] )

[1] 85

In [ ]:
df$gender = ifelse(df$gender == '', 'not informed' , df$gender )

In [ ]:
table(df$gender)

           F            M not informed
         707          208           85

### Encode 

Faça o *hot encode* do atributo `gender`, único não numérico que será empregado. Crie um novo atributo para cada um dos valores de `gender` (*).

<br>
<br>
<small>
Por simplicidade, não consideraremos aqui a exclusão de um valor por multicolinearidade.

In [ ]:
install.packages('dummies')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(dummies)

In [ ]:
df = dummy.data.frame('gender',data=df,sep='_',drop=FALSE)
colnames(df)

Warning message in model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE):
“non-list contrasts argument ignored”

 [1] "name"                "gradyear"            "gender_F"
 [4] "gender_M"            "gender_not informed" "age"
 [7] "friends"             "basketball"          "football"
[10] "soccer"              "softball"            "volleyball"
[13] "swimming"            "cheerleading"        "baseball"
[16] "tennis"              "sports"              "cute"
[19] "sex"                 "sexy"                "hot"
[22] "kissed"              "dance"               "band"
[25] "marching"            "music"               "rock"
[28] "god"                 "church"              "jesus"
[31] "bible"               "hair"                "dress"
[34] "blonde"              "mall"                "shopping"
[37] "clothes"             "hollister"           "abercrombie"
[40] "die"                 "death"               "drunk"
[43] "drugs"

In [ ]:
head(df)

  name                          gradyear gender_F gender_M gender_not informed
1 Q0bcT0yVsaupy2DJ3P8m2owDPIwNL 2006     0        1        0
2 eeQvCDZZbJPoXTL13FaVgx        2006     1        0        0
3 oK3Mpwj7SfPnGLHG1V5yQBEOgn    2006     0        1        0
4 Z76KbVabKtfN2tLGthyk          2006     1        0        0
5 4Pmrj8MGAOODv4Wmot6htP1       2006     0        0        1
6 rR2PUmc8uLtBprg               2006     1        0        0
  age      friends basketball football soccer ⋯ blonde mall shopping clothes
1 18.98200   7     0          0        0      ⋯ 0      0    0        0
2 18.80100   0     0          1        0      ⋯ 0      1    0        0
3 18.33500  69     0          1        0      ⋯ 0      0    0        0
4 18.87500   0     0          0        0      ⋯ 0      0    0        0
5 18.99500  10     0          0        0      ⋯ 0      0    2        0
6 17.41003 142     0          0        0      ⋯ 0      0    1        0
  hollister abercrombie die death drunk drugs
1 0         0           0   0     0     0
2 0         0           0   0     0     0
3 0         0           0   1     0     0
4 0         0           0   0     0     0
5 0         0           0   0     1     1
6 0         0           0   0     1     0

### Normalização

Normalize os dados empregando a função `scale`.

$$ z_i = \frac{x_i - \bar{x}}{\sigma(x)}$$

Não esqueça de excluir dados não úteis ao modelo, com nome e o ano `gradyear` (todos aqui 2006).

In [ ]:
X = scale(df[,-c(1,2)]) # excluindo nome e gradyear, todos 2006

In [ ]:
head(X)

  gender_F   gender_M   gender_not informed age       friends    basketball
1 -1.5525966  1.9503550 -0.3046363          0.1784111 -0.5963135 -0.2488646
2  0.6434382 -0.5122144 -0.3046363          0.1578684 -0.8076117 -0.2488646
3 -1.5525966  1.9503550 -0.3046363          0.1049797  1.2751843 -0.2488646
4  0.6434382 -0.5122144 -0.3046363          0.1662671 -0.8076117 -0.2488646
5 -1.5525966 -0.5122144  3.2793202          0.1798865 -0.5057572 -0.2488646
6  0.6434382 -0.5122144 -0.3046363          0.0000000  3.4787221 -0.2488646
  football   soccer     softball   volleyball ⋯ blonde    mall       shopping
1 -0.3694544 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448 -0.3218736 -0.4972035
2  0.9133734 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448  1.4763029 -0.4972035
3  0.9133734 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448 -0.3218736 -0.4972035
4 -0.3694544 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448 -0.3218736 -0.4972035
5 -0.3694544 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448 -0.3218736  2.4890037
6 -0.3694544 -0.2294894 -0.2115709 -0.1779684 ⋯ -0.174448 -0.3218736  0.9959001
  clothes    hollister  abercrombie die        death      drunk      drugs
1 -0.2929542 -0.1717734 -0.1620071  -0.2853395 -0.2574593 -0.2420192 -0.1554235
2 -0.2929542 -0.1717734 -0.1620071  -0.2853395 -0.2574593 -0.2420192 -0.1554235
3 -0.2929542 -0.1717734 -0.1620071  -0.2853395  2.5109198 -0.2420192 -0.1554235
4 -0.2929542 -0.1717734 -0.1620071  -0.2853395 -0.2574593 -0.2420192 -0.1554235
5 -0.2929542 -0.1717734 -0.1620071  -0.2853395 -0.2574593  1.7748074  3.3769295
6 -0.2929542 -0.1717734 -0.1620071  -0.2853395 -0.2574593  1.7748074 -0.1554235

## Selecione o Usuário 

Selecione o Usuário que deseja fazer a recomendação de novos amigos.

> Selecione usuário de nome: `'eeQvCDZZbJPoXTL13FaVgx'`

> Para facilitar é o segundo usuário dos dados!

In [ ]:
df[ df$name == 'eeQvCDZZbJPoXTL13FaVgx', ][0]

2

In [ ]:
head( X[ 2, ] )

           gender_F            gender_M gender_not informed                 age
          0.6434382          -0.5122144          -0.3046363           0.1578684
            friends          basketball
         -0.8076117          -0.2488646

## Encontre os 3-Vizinhos mais próximos, métrica cosseno

In [ ]:
A = matrix( 
  c(2, 4, 3, 1, 5, 7, 5, 9), # the data elements 
  nrow=4,             # number of rows 
  ncol=2,              # number of columns 
  byrow = TRUE)

A

     [,1] [,2]
[1,] 2    4
[2,] 3    1
[3,] 5    7
[4,] 5    9

In [ ]:
install.packages('lsa')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(lsa)

user_sim = cosine(t(A))
user_sim

     [,1]      [,2]      [,3]      [,4]
[1,] 1.0000000 0.7071068 0.9877630 0.9990562
[2,] 0.7071068 1.0000000 0.8087361 0.7371541
[3,] 0.9877630 0.8087361 1.0000000 0.9936053
[4,] 0.9990562 0.7371541 0.9936053 1.0000000

In [ ]:
user_sim[,2]

[1] 0.7071068 1.0000000 0.8087361 0.7371541

In [ ]:
order(user_sim[,2],decreasing=T)[2:4] # Exceto o primeiro que é o próprio

[1] 3 4 1

In [ ]:
user_sim = cosine(t(X))

In [ ]:
order(user_sim[,2],decreasing=T)[2:4]

[1] 760 446 993

In [ ]:
df_friends = df[c(2,760,446,993), ]
df_friends

    name                      gradyear gender_F gender_M gender_not informed
2   eeQvCDZZbJPoXTL13FaVgx    2006     1        0        0
760 Lu0y0jJgzgQNW             2006     1        0        0
446 sXKovZvI0tM02             2006     1        0        0
993 j3hn3jVkSlekQmAYpfZvKW7st 2006     1        0        0
    age      friends basketball football soccer ⋯ blonde mall shopping clothes
2   18.80100  0      0          1        0      ⋯ 0      1    0        0
760 19.24400 46      0          0        0      ⋯ 0      0    0        0
446  0.01848  4      2          0        0      ⋯ 0      1    2        0
993 18.43400 46      0          0        0      ⋯ 0      0    0        0
    hollister abercrombie die death drunk drugs
2   0         0           0   0     0     0
760 0         0           0   0     0     0
446 0         0           0   0     0     0
993 0         0           0   0     0     0

In [ ]:
df_preferences = df[c(2,760,446,993), -c(1:7)]
print( df_preferences )

    basketball football soccer softball volleyball swimming cheerleading
2            0        1      0        0          0        0            0
760          0        0      0        0          0        0            0
446          2        0      0        0          0        0            0
993          0        0      0        0          0        0            0
    baseball tennis sports cute sex sexy hot kissed dance band marching music
2          0      0      0    1   0    0   0      0     0    0        0     2
760        0      0      0    0   0    0   0      0     0    0        0     0
446        0      0      0    1   0    0   0      0     0    0        0     0
993        0      0      0    0   0    0   0      0     0    0        0     0
    rock god church jesus bible hair dress blonde mall shopping clothes
2      2   1      0     0     0    6     4      0    1        0       0
760    0   0      0     0     0    3     2      0    0        0       0
446    0   0      0     0     0    4     4      0    1        2       0
993    0   0      0     0     0    1     6      0    0        0       0
    hollister abercrombie die death drunk drugs
2           0           0   0     0     0     0
760         0           0   0     0     0     0
446         0           0   0     0     0     0
993         0           0   0     0     0     0