<a href="https://colab.research.google.com/github/Rogerio-mack/CDA_2021_2S/blob/main/CDA_SUB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Avaliação SUB
***
*Boa prova!*

Esta avaliação é composta por 2 exercícios. No primeiro você vai trabalhar modelos de Classificação, no segundo modelos de Clusterização. 

Entrega:

1. Poste um único arquivo  seu código em formato .ipynb e adicione nos comentários da tarefa o link do seu Colab compartilhado (não esqueça de liberar o compartilhamento). **Não há questionário no Moodle para estes exercícios, você deverá postar o seu código!**

2. O seu código deve ser completamente executável (não serão avaliados códigos que não executem completamente).

3. Seu código deve ser minimamente claro e organizado. **Adicione texto justificando suas escolhas e suas conclusões**. Isso faz parte e será avaliado na atividade.

Os **trabalhos são individuais**. Trabalhos semelhantes entre alunos terão a nota dividida pelo número de alunos com trabalhos semelhantes.

# Exercício 1. Case: Risk Classification

O objetivo aqui é fazer a classificação do risco dos clientes.

1. Empregue ao menos 2 modelos de classificação
2. Avalie o melhor, justificando sua escolha
3. Empregue o melhor modelo para a predição do risco da cliente Adriana. Ela tem 37 anos, solteira, profissão 1, com casa própria com Checking e Saving Account *little*, buscando um crédito de 5000 para educacao.

Lembre-se de verificar a qualidade dos dados (valores ausentes por exemplo), a necessidade de normalizações e encodes, remoção de atributos etc. justificando, nos casos que julgar necessário, as tranformações que você optar por fazer.

Ao final não esqueça de escrever um parágrafo com as suas conclusões.

In [5]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/credit_data.csv',sep=',')
df = df[,-1] # clean index
head(df)

  Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 67  male   2   own     NA              little           1169
2 22  female 2   own     little          moderate         5951
3 49  male   1   own     little          NA               2096
4 45  male   2   free    little          little           7882
5 53  male   2   free    little          little           4870
6 35  male   1   free    NA              NA               9055
  Duration Purpose             Risk
1  6       radio/TV            good
2 48       radio/TV            bad
3 12       education           good
4 42       furniture/equipment good
5 24       car                 bad
6 36       education           good

# Exercício 2. Case: Friends Segmentation

O objetivo aqui é fazer a clusterização de usuários de uma rede social.

1. Verifique o número de clusters ideal segundo o critério da regra do cotovelo (kmédias) e da regra de silhueta (kmédias e clusterização hierárquica)
2. Selecione com base nesses critérios a melhor clusterização (lembre-se de verificar se não existe nenhum grupo muito pequeno, por exemplo, obtendo dois clusters com 29988 e 12 elementos, é preferível buscar uma clusterização do tipo 22000, 8990, 10, em que o 10 é como um *outlier*, mas temos dois grupos úteis)
3. Justifique a sua escolha e analise (caracterize) os grupos formados (no que eles se diferenciam?).

Lembre-se de verificar a qualidade dos dados (valores ausentes por exemplo), a necessidade de normalizações e encodes, remoção de atributos etc. justificando, nos casos que julgar necessário, as tranformações que você optar por fazer.

Ao final não esqueça de escrever um parágrafo com as suas conclusões.

In [6]:
df = read.csv('http://meusite.mackenzie.br/rogerio/data_load/social.csv')
head(df)

  name                          gradyear gender age    friends basketball
1 Q0bcT0yVsaupy2DJ3P8m2owDPIwNL 2006     M      18.982   7     0
2 eeQvCDZZbJPoXTL13FaVgx        2006     F      18.801   0     0
3 oK3Mpwj7SfPnGLHG1V5yQBEOgn    2006     M      18.335  69     0
4 Z76KbVabKtfN2tLGthyk          2006     F      18.875   0     0
5 4Pmrj8MGAOODv4Wmot6htP1       2006            18.995  10     0
6 rR2PUmc8uLtBprg               2006     F          NA 142     0
  football soccer softball volleyball ⋯ blonde mall shopping clothes hollister
1 0        0      0        0          ⋯ 0      0    0        0       0
2 1        0      0        0          ⋯ 0      1    0        0       0
3 1        0      0        0          ⋯ 0      0    0        0       0
4 0        0      0        0          ⋯ 0      0    0        0       0
5 0        0      0        0          ⋯ 0      0    2        0       0
6 0        0      0        0          ⋯ 0      0    1        0       0
  abercrombie die death drunk drugs
1 0           0   0     0     0
2 0           0   0     0     0
3 0           0   1     0     0
4 0           0   0     0     0
5 0           0   0     1     1
6 0           0   0     1     0